In [ ]:
import yfinance as yf
import pandas as pd
import manager_db

In [ ]:
tickers = manager_db.get_future_stock_list()

for ticker in tickers:
    tickr = ticker.symbol + '.NS'
    print(f"Pulling data for {tickr}")
    data = yf.download(tickr, group_by="Ticker", period='2d', interval='15m')
    data['symbol'] = ticker.symbol

In [7]:
data

,Open,High,Low,Close,Adj Close,Volume,symbol
Datetime,,,,,,,
2023-03-16 09:15:00,472.950012,477.000000,470.049988,474.549988,474.549988,51255,ZYDUSLIFE
2023-03-16 09:30:00,474.850006,476.500000,472.350006,473.100006,473.100006,81896,ZYDUSLIFE
2023-03-16 09:45:00,473.100006,475.000000,471.799988,473.399994,473.399994,41002,ZYDUSLIFE
2023-03-16 10:00:00,473.399994,474.049988,471.549988,472.799988,472.799988,46446,ZYDUSLIFE
2023-03-16 10:15:00,472.799988,475.000000,472.500000,475.000000,475.000000,36478,ZYDUSLIFE
2023-03-16 10:30:00,474.950012,475.649994,474.250000,475.250000,475.250000,25811,ZYDUSLIFE
2023-03-16 10:45:00,475.200012,476.549988,475.000000,475.399994,475.399994,35525,ZYDUSLIFE
2023-03-16 11:00:00,475.600006,476.500000,475.200012,475.750000,475.750000,23637,ZYDUSLIFE
2023-03-16 11:15:00,475.950012,477.500000,475.950012,476.799988,476.799988,33423,ZYDUSLIFE
2023-03-16 11:30:00,476.649994,477.700012,475.149994,475.600006,475.600006,27129,ZYDUSLIFE
2023-03-16 11:45:00,475.799988,476.799988,474.200012,475.450012,475.450012,48335,ZYDUSLIFE
2023-03-16 12:00:00,475.600006,477.450012,475.000000,477.000000,477.000000,29895,ZYDUSLIFE
2023-03-16 12:15:00,477.000000,477.450012,476.000000,477.100006,477.100006,16966,ZYDUSLIFE
2023-03-16 12:30:00,477.000000,477.250000,475.000000,475.399994,475.399994,27182,ZYDUSLIFE
2023-03-16 12:45:00,475.399994,476.000000,474.899994,475.899994,475.899994,29846,ZYDUSLIFE
2023-03-16 13:00:00,475.850006,477.000000,475.299988,476.950012,476.950012,22740,ZYDUSLIFE
2023-03-16 13:15:00,476.600006,482.000000,476.299988,481.299988,481.299988,138909,ZYDUSLIFE
2023-03-16 13:30:00,482.200012,488.299988,482.000000,485.000000,485.000000,337016,ZYDUSLIFE
2023-03-16 13:45:00,485.000000,485.250000,481.250000,481.500000,481.500000,78813,ZYDUSLIFE
2023-03-16 14:00:00,481.399994,481.500000,478.500000,479.250000,479.250000,114623,ZYDUSLIFE
2023-03-16 14:15:00,479.700012,480.399994,478.649994,479.700012,479.700012,54990,ZYDUSLIFE
2023-03-16 14:30:00,479.950012,480.250000,479.000000,480.000000,480.000000,51454,ZYDUSLIFE
2023-03-16 14:45:00,480.000000,480.000000,478.750000,479.049988,479.049988,35369,ZYDUSLIFE
2023-03-16 15:00:00,479.100006,479.950012,478.549988,479.700012,479.700012,50034,ZYDUSLIFE
2023-03-16 15:15:00,479.700012,480.350006,478.899994,479.299988,479.299988,123200,ZYDUSLIFE
2023-03-17 09:15:00,484.000000,484.299988,480.450012,482.750000,482.750000,90355,ZYDUSLIFE
2023-03-17 09:30:00,482.950012,483.200012,479.700012,482.000000,482.000000,39307,ZYDUSLIFE
2023-03-17 09:45:00,481.850006,482.049988,476.850006,477.950012,477.950012,56536,ZYDUSLIFE
2023-03-17 10:00:00,477.950012,480.000000,477.500000,479.700012,479.700012,25831,ZYDUSLIFE
2023-03-17 10:15:00,480.000000,486.000000,479.700012,482.750000,482.750000,114906,ZYDUSLIFE
2023-03-17 10:30:00,482.549988,485.000000,482.549988,483.600006,483.600006,27525,ZYDUSLIFE
2023-03-17 10:45:00,483.299988,485.350006,482.899994,484.100006,484.100006,41634,ZYDUSLIFE
2023-03-17 11:00:00,484.200012,484.450012,481.850006,482.299988,482.299988,18147,ZYDUSLIFE
2023-03-17 11:15:00,482.049988,482.350006,481.049988,481.450012,481.450012,18030,ZYDUSLIFE
2023-03-17 11:30:00,481.549988,481.549988,481.549988,481.549988,481.549988,0,ZYDUSLIFE